/* Don't let dropdown menu disappear behind other divs (e.g. on the profile page). */
.accordion .card {
    overflow: visible;
}

/* CSS HEX 
--davys-grey: #555358ff;
--platinum: #e9edebff;
--red-salsa: #f83a44ff;
--maximum-blue-purple: #9291f3ff;
*/

body {
    background-color: #F6F6F4;
}

/* Display index page card header and like icon on the same line. */
.card-header button, form {
    display: inline;
}

.card-header form {
    float: right;
}