/* Don't let dropdown menu disappear behind other divs (e.g. on the profile page). */
.accordion .card {
    overflow: visible;
}

/* CSS HEX 
--davys-grey: #555358ff;
--platinum: #e9edebff;
--red-salsa: #f83a44ff;
--maximum-blue-purple: #9291f3ff;
*/

body {
    background-color: #e9edebff;
    color: #555358ff;
}

a.navbar-brand, span.navbar-text a {
    color: #9291f3!important;
}

a, .btn-link {
    color: #9291f3ff;
}

/* Display index page card header and like icon on the same line. */
.card-header button, form {
    display: inline;
}

.card-header form {
    float: right;
}

p form {
    display: inline;
}

.btn-outline-danger {
    color: #f83a44ff;
}

.btn-info {
    background-color: #9291f3ff;
}

#hiddenfilterdiv #filter-content {
    padding-top: 1em;
}

#hiddenfilterdiv button {
    float: right;
}

#filter-sessions {
    color: #f83a44ff;
}

/* Set dropdown list in training data table minimum width so that the longest move name fits. */
.move-select {
    min-width: max-content;
}

#selected-moves input {
    min-width: 10em;
}

#users-templates {
    min-width: max-content;
}

#select-template-div .form-control {
    display: inline;
}

th {
    padding: 1em!important;
}

td {
    padding: 0.5em!important;
    min-width: max-content;
}

#users-table button {
    padding: 0;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

#likes-info form {
    float: right;
    font-size: 2em;
}