<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{{ url_for('static', filename='javascript.js') }}"></script>
<title>TSOHA Trainer's App - {% block title %}{% endblock %}</title>

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-text-div" aria-controls="navbar-text-div" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-text-div">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/moveslibrary">Moves Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trainingdata">Training Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userdata">Users</a>
                </li>
            </ul>
        </div>

        {% if session.username %}
          <span class="navbar-text">Logged in as: {{session.username}} <a href="/logout">Log out</a></span>
        {% endif %}
    </nav>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{category}}" role="alert" id="messagebox">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>


<div class="container">
{% block content %}{% endblock %}
</div>