{% extends "baselayout.html" %}

{% block title %}Moves Library{% endblock %}

{% block content %}

<div class="col-sm">
    <h1>Moves Library</h1>

    <a class="btn btn-primary" data-toggle="collapse" href="#hiddendiv" role="button" aria-expanded="false" aria-controls="hiddendiv">Add move to library</a>
    
    <div class="collapse" id="hiddendiv">
        <form action="/addmove" method="POST">
            <div class="form-group col-6">
                <label for="movename">Move name:</label>
                <input type="text" class="form-control" name="movename" id="movename" required>
            </div>
            <div class="form-group col-6">
                <button type="submit" class="btn btn-primary">Add move</button>
            </div>
        </form>
    </div>
</div>

<div class="col-sm">
    <form action="/moveslibrary" method="GET">
        <div class="form-group col-6">
            <label for="query">Search for:</label>
            <input type="text" class="form-control" name="query" id="query">
        </div>
        <div class="form-group col-6">
            <input type="checkbox" name="showmineonly"> Show my moves only
        </div>
        <div class="form-group col-6">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>

<div class="col-sm">
    <table id="moveresults" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">Move name</th>
            </tr>
        </thead>
        <tbody>
            {% for move in moves %}
            <tr>
                <td>{{move.move_name}}</td>
                <td>
                    <form action="/deletemove/{{move.id}}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}