{% extends "baselayout.html" %}


{% block title %}Training Data{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='trainingdatascripts.js') }}"></script>
<script type="text/javascript">
    window.appConfig = {
        all_moves: {{data_view_moves | tojson}},
        max_weights: {{max_weights | tojson}},
        templates: {{templates | tojson}}
    }
</script>
<div class="col-sm">
    <h1>Training Data</h1>
    
    <div class="accordion">
        <div class="card">
            <div class="card-header" id="addSessionHeader">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#addSession" aria-expanded="true" aria-controls="addSession">
                        Add Session
                    </button>
                </h5>
            </div>

            <div id="addSession" class="collapse show" aria-labelledby="addSessionHeader" data-parent="#accordion">
                <div class="card-body">
                    <form id="dataForm" action="/addtrainingsession" method="POST">
                        <div class="form-group col-6">
                            <table id="trainingDataTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="th-sm">Move</th>
                                        <th class="th-sm">Reps</th>
                                        <th class="th-sm">Weights</th>
                                    </tr>
                                </thead>
                                <tbody id="selectedMoves">
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-6">
                            <button type="button" class="btn btn-light" id="addBtn">Add</button>
                        </div>
                        <div class="form-group col-6">
                            <select id="usersTemplates">
                                {% for template in templates %}
                                {% if loop.first or loop.previtem.id != template.id %}
                                    <option value="{{template.id}}">{{template.template_name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-light" id="selectTemplate">Select template</button>
                            <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" id="infoBtn">Why are some moves missing?</button>
                        </div>
                        <div class="form-group col-6">
                            <button type="submit" class="btn btn-primary">Save session</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="myRecentSessionsHeader">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#myRecentSessions" aria-expanded="false" aria-controls="myRecentSessions">
                        My Recent Sessions
                    </button>
                </h5>
            </div>

            <div id="myRecentSessions" class="collapse" aria-labelledby="myRecentSessionsHeader" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        {% for ses in sessions %}
                        {% if loop.first or loop.previtem.id != ses.id %}
                            <li><a href="/trainingsession/{{ses.id}}">Training session {{ses.id}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}