{% extends "baselayout.html" %}

{% block title %}Training Session Details{% endblock %}

{% block content %}
<div class="col-sm">
    <h1>
        Workout by {{main_info.username}} on {{main_info.created_at}}
    </h1>
    <div class="card">
        <div class="flex-container">
            <div class="card-body flex-child">
                <ul>
                    {% for row in sessions %}
                    <li>{{row.reps}} reps of {{row.move_name}} with {{row.weights}} kg</li>
                    {% endfor %}  
                </ul>
            </div>
            <div class="card-body flex-child" id="likes-info">
                <form action="/like/{{main_info.session_id}}" method="POST">
                    {% if main_info.liked_by_current_user %}
                        <button type="submit" class="btn btn-link" name="removelike">
                            <i class="bi bi-heart-fill"></i>
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-link" name="like">
                            <i class="bi bi-heart"></i>
                        </button>
                    {% endif %}
                    {{main_info.likes}}
                </form>
            </div>
        </div>

        <div class="card-body">
            <h2>
                Comments <a class="btn btn-link" id="show-hide-comments" data-toggle="collapse" href="#hiddendiv" role="button" aria-expanded="false" aria-controls="hiddendiv"><i class="bi bi-chat-right"></i></a>
            </h2>
            <div class="collapse" id="hiddendiv">
                <div class="col-8">
                    {% for row in comments %}
                        {% if row.user_id == session.user_id %}
                            <p>
                                <form action="/removecomment/{{row.id}}" method="POST">
                                    {{row.username}} on {{row.actiondate}} <button type="submit" class="btn btn-link"><i class="bi bi-trash"></i></button>
                                    <br>
                                    {{row.content}}
                                </form>
                            </p>
                        {% else %}
                            <p>
                                {{row.username}} on {{row.actiondate}}
                                <br>
                                {{row.content}}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <hr>
                <form action="/addcomment/{{main_info.session_id}}" method="POST">
                    <div class="form-group col-6">
                        <label for="comment-content">Leave a comment for {{sessions[0].username}}!</label>
                        <textarea class="form-control" name="comment-text" id="comment-content" rows="3" maxlength="300" required></textarea>
                    </div>
                    <div class="form-group col-6">
                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </div>
                </form>
            </div>    
        </div>
    </div>
</div>
{% endblock %}