{% extends "baselayout.html" %}

{% block title %}Follow Other Users{% endblock %}

{% block content %}
<div class="col-sm">
    <h1>TSOHA Trainer's App Users</h1>
    <div class="card">
        <div class="card-body">
            <table id="users-table" class="table table-striped table-sm table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">Username</th>
                        <th class="th-sm">Follow/Unfollow</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    {% if loop.first or loop.previtem.id != user.id %}
                        <tr>
                            <td class="col-4">{{user.username}}</td>
                            {% if user.id == session.user_id %}
                                <td>That's you!</td>
                            {% else %}
                                <td class="col-4">
                                    {% if user.follower_id != session.user_id and user.allow_follow %}
                                    <form action="/followunfollow/{{user.id}}" method="POST">
                                        <button type="submit" class="btn btn-link" name="follow">
                                            Follow
                                        </button>
                                    </form>
                                    {% elif user.follower_id == session.user_id and user.allow_follow %}
                                    <form action="/followunfollow/{{user.id}}" method="POST">
                                        <button type="submit" class="btn btn-link" name="unfollow">
                                            Unfollow
                                        </button>
                                    </form>
                                    {% elif not user.allow_follow %}
                                        <em>Following disabled</em>
                                    {%endif%}
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}